// text
$bold-text: hsl(238, 29%, 16%);
$highlight-text: hsl(14, 88%, 65%);
$question-text: hsl(237, 12%, 33%);
$answer-text: hsl(240, 6%, 50%);

// Background
$background1: hsl(273, 75%, 66%);
$background2: hsl(240, 73%, 65%);

// divider
$divider: hsl(240, 5%, 91%);
